@mixin background-ellips-style($color, $width, $height, $left, $top) {
  width: $width;
  height: $height;
  left: $left;
  top: $top;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  background: $color;
}

.background-ellipses {
  &__ellips1 {
    @include background-ellips-style(#ff4656, 880px, 880px, -147px, -275px);
  }
  &__ellips2 {
    @include background-ellips-style(#ff4656, 18px, 18px, 1234px, 35px);
  }
  &__ellips3 {
    @include background-ellips-style(#efefef, 110px, 110px, 1189px, 85px);
  }
  &__ellips4 {
    @include background-ellips-style(#505155, 45px, 45px, 1280px, 207px);
  }
  &__ellips5 {
    @include background-ellips-style(#292C31, 450px, 450px, 761px, 542px);
  }
  &__ellips6 {
    @include background-ellips-style(#505155, 35px, 35px, 45px, 907px);
  }
}
